<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if usuario_signed_in?%>
<%=current_usuario.email %>
<a href="<%=destroy_usuario_session_path %>"
data-method="delete">
Cerrar Sesiòn
</a>
<%else%>
<a href="<%= new_usuario_session_path%>">
Abrir sesion
</a>
<a href="<%= new_usuario_registration_path%>">
Registrarse
</a>
<%end%>

    <%= yield %>
  </body>
</html>
